* {
    text-decoration: none   ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
 }

.logo {
    height: 75px;
    width: 75px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url(../Revou\ Logo.png);
    background-size: cover;
}

header {
    background-color: pink;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
 }

li {
    display: inline-block;
 }

 li a {
    color: black;
    padding: 10px;
    font-weight: bold;
}

#home {
    width: 100%;
    adding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 578px;
    background-color: lightskyblue;
}
#our-profile {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgoldenrodyellow;
}

#portfolio {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgoldenrodyellow;
}

#message-us {
    width: 100%;
    background-color: lightgreen;
}

low-header {
    background-color: pink;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
}

form {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgoldenrodyellow;  
}

footer {
   background-color: pink;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
}

