* {
    text-decoration: none   ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
 }

.logo {
    height: 50px;
    width: 50px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1601370552761-d129028bd833?q=80&w=1167&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.design {
    height: 100px;
    width: 100px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1601370552761-d129028bd833?q=80&w=1167&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.art {
    height: 100px;
    width: 100px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1601370552761-d129028bd833?q=80&w=1167&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.craft {
    height: 100px;
    width: 100px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1601370552761-d129028bd833?q=80&w=1167&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

header {
    background-color: pink;
    position: sticky;
    top: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
 }

li {
    display: inline-block;
 }

 li a {
    color: black;
    padding: 10px;
    font-weight: bold;
}

section {
    scroll-margin-top: 70px; 
}

#home {
    width: 100%;
    adding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 400px;
    background-color: lightskyblue;
}
#our-profile {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 600px;
    background-color: lightgoldenrodyellow;
}

#portfolio {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 400px;
    background-color: rgb(247, 166, 166);
}

#message-us {
    width: 100%;
    background-color: lightgreen;
}

low-header {
    background-color: pink;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
}

form {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 400px;
    background-color: lightgoldenrodyellow;  
}

footer {
   background-color: pink;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
}

extra {
   background-color: pink;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 200px;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
margin-bottom: 5px;
}

.input span{
display: flex;
font-size: 14px;
color: red;
}

.submit span{
display: flex;
font-size: 14px;
color: red;
}

textarea::placeholder {
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transform: translateY(10px);
}

input {
  padding: 10px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-field {
border: solid 1px;
outline: none;
border-radius: 5px;
}

.input-select {
border: solid 1px;
outline: none;
border-radius: 5px;
margin-top: 5px;
margin-bottom: 5px;
cursor: pointer;
}

.input-message {
border: solid 1px;
outline: none;
border-radius: 5px;
margin-top: 5px;
margin-bottom: 5px;
cursor: pointer;
}

button {
background-color: pink;
border: solid 1px;
outline: none;
border-radius: 5px;
min-width: 100px;
cursor: pointer;
}


