* {
    text-decoration: none   ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
 }

#navbar {
    background-color: pink;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
 }

li {
    display: inline-block;
 }

 li a {
    color: black;
    padding: 10px;
    font-weight: bold;}

#section {
    width: 100%;
    min-height: 300px;
    background-color: lightskyblue;
}


